/* ====== RESTAURANT SNAPSHOT PAGE SETTINGS ====== */

.display_restaurant_data_page {
    position: relative;
    height: 100%;
}

.currentCategory {
    text-align: center;
    font-size: 3rem;
    width: 100%;
    height: 15%;
    padding: 3%;
}

.main-image {
    max-height: 50vmin;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.restaurant_container {
    position: absolute;
    width: 90%;
    height: 50%;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 1px solid grey;
    background-color: white;
    box-shadow: 0px 10px 38px rgba(0, 0, 0, 0.3), 0px 0px 12px rgba(0, 0, 0, 0.22);
}

.leftClickDiv {
    height: 100%;
    width: 50%;
    left: 0;
    position: absolute;
}

.rightClickDiv {
    height: 100%;
    width: 50%;
    right: 0;
    position: absolute;
}

#foodImages {
    height: 60%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.numberOfRestaurants {
    position: absolute;
    top: 0;
    left: 0;
    color: #f00;
    background-color: rgba(255,255,255,0.8);
    padding: 5px;
    text-shadow: 1px 1px black;
    font-weight: bold;
    font-size: 3vmin;
    border-radius: 4px;
}

.restaurant_container > #foodImages > img {
    border: 0px solid white;
    border-radius: 10px;
    margin: 2% auto 0px auto;
    padding: 0;
    height: 100%;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    max-width: 100%;
}

h3#restaurantName {
    margin: 5% 5% 1% 5%;
    font-size: 2rem;
}

.restaurant_info {
    margin-left: 5%;
}

.stars, .review_count {
    display: inline-block;
    vertical-align: bottom;
}

.restaurant_info > .star_rating > img {
    height: 5vmin;
}

.review_count {
    padding-left: 5%;
}

.price_rating {
    margin-bottom: 3%;
}

.button_containers {
    position: absolute;
    text-align: center;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 10%;
}

#noButton, #yesButton {
    width: 30%;
    height: 70%;
    font-size: 25px;
}

@media screen and (min-width: 350px) {
    
    .currentCategory {
        padding: 2%;
    }

    .restaurant_container {
        width: 80%;
        height: 55%;
    }

    h3#restaurantName {
        margin: 5% 5% 1% 5%;
    }

    .starRating > img {
        height: 5vmin;
    }
}

@media screen and (min-width: 500px) {
    
    .restaurant_container {
        width: 45%;
        height: 60%;
    }

    .currentCategory {
        padding: 0%;
    }

    #noButton, #yesButton {
        width: 20%;
    }
}

@media screen and (min-width: 965px) {
    
    .restaurant_container {
        width: 35%;
    }

    .button_containers {
        width: 65%;
    }
}

@media screen and (min-width: 1300px) {
    
    .currentCategory {
        padding: 1%;
    }

    .restaurant_container {
        width: 35%;
        height: 55%;
    }

    .restaurant_info {
        font-size: 2rem;
    }

    .price_rating {
        margin: 3% 0%;
    }

    .button_containers {
        width: 50%;
    }
}

@media screen and (min-width: 2500px) {

    .currentCategory {
        padding: 0.5%;
    }

    .restaurant_container {
        width: 40%;
        height: 60%;
    }

    h3#restaurantName {
        font-size: 4rem;
    }

    .restaurant_info {
        font-size: 4rem;
    }

    #noButton, #yesButton {
        font-size: 4rem;
    }

    .currentCategory {
        font-size: 5rem;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .restaurant_container {
        width: 40%;
        height: 55%;
    }

    .currentCategory {
        padding: 0%;
        font-size: 2.25rem;
    }

    #foodImages {
        height: 45%;
    }

    .button_containers {
        height: 14%;
        bottom: 0%;
    }

    #noButton, #yesButton {
        font-size: 14px;
    }

    .footer {
        height: 10%;
    }

}

@media only screen 
  and (min-device-width: 768px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .currentCategory {
        padding: 0%;
        font-size: 4.25rem;
    }

    .restaurant_container {
        width: 45%;
        height: 50%;
    }

    #foodImages {
        height: 50%;
    }

    .review_count {
        padding-left: 5%;
        font-size: 2rem;
    }

    .price_rating {
        margin-top: 3%;
        font-size: 2rem;
    }

    .button_containers {
        height: 10%;
        bottom: 8%;
    }

    #noButton, #yesButton {
        font-size: 24px;
    }

    .footer {
        height: 10%;
    }

}

@media only screen 
  and (min-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .currentCategory {
        font-size: 6rem;
    }

    h3#restaurantName {
        font-size: 3rem;
    }

    .review_count {
        padding-left: 5%;
        font-size: 3rem;
    }

    .price_rating {
        margin-top: 3%;
        font-size: 3rem;
    }

    #noButton, #yesButton {
        font-size: 32px;
    }

}
